@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');
 
  .App1{
    text-align: center;
  }

    .Form1{
      display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
  padding-bottom: 11vh;
  width: 100vw;
  height: 60vh;
  background-size:cover;
  background-color: #FEF9F3;
  flex: none;
  order: 1;
  flex-grow: 0;
    }

    .RealForm1{
      width: 40%;
  height: 90%;
  align-self: center;
  background: #FEF9F3;
  border-radius: 30px;
  flex: none;
  order: 0;
  flex-grow: 0;
    }
    
    #signin2{
    margin-top: 8vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 3.25vw;
    color: #C175AE;
    
    }
    #welcomeMessage{
      padding-top: 2vh;
    padding-right: 2vw;
    padding-left: 2vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 3.0vh;
    color: black;
    }

    .Buttons {
        justify-content: center; 
        padding-left: 12vw;
        padding-right: 2vw;
        padding-top: 6vh;
      }
      
      #signinButton2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.2vh;
        margin-top: 1vh;
        margin-left: 1vh;
        cursor: pointer;
        background: #FEF9F3;
        border-radius: 30px;
        border-color: #EF8094;
        color: black;
        font-size: 1.2rem;
        width: 200px;
        flex: none;
        order: -1;
        flex-grow: 0;
      }
      
      #signupButton3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2vh;
        margin-top: 1vh;
        margin-left: 1vh;
        cursor: pointer;
        background: #EF8094;
        border-radius: 30px;
        border-color: #FEF9F3;
        color: #FEF9F3;
        font-size: 1.2rem;
        width: 200px;
        flex: none;
        order: 0;
        flex-grow: 0;
      }      
      #flowerImage {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto; 
     }
      
  
    label, input {display: block;}
    @media (prefers-reduced-motion: no-preference) {
      .App-logo {
        animation: App-logo-spin infinite 20s linear;
      }
    }
    
    